{% extends 'shop/basic.html' %}

{% block title %} About US{% endblock %}
{% block body %}

<main role="main">

    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">
                My Awesome Cart
            </h1>
            <p>This is a template for a simple marketing or informational website. It includes a large callout called a
                jumbotron and three supporting pieces of content. Use it as a starting point to create something more
                unique
            </p>
            <p><a href="#" class="btn btn-primary btn-lg" role="button">Learn More</a></p>
        </div>
        </div>
        <div class="container">
            <div class="row">

                <div class="col-md-4">
                    <h2>Heading</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, veniam at eos impedit nostrum sed. Accusantium iure repellendus ratione animi quod, repudiandae enim temporibus quis, autem molestiae magni odit. Magnam distinctio explicabo cum saepe voluptate commodi doloremque modi assumenda odit!</p>
                    <p><a href="#" class="btn btn-secondary" role="button">View Details</a></p>
                </div>
                <div class="col-md-4">
                    <h2>Heading</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, veniam at eos impedit nostrum sed. Accusantium iure repellendus ratione animi quod, repudiandae enim temporibus quis, autem molestiae magni odit. Magnam distinctio explicabo cum saepe voluptate commodi doloremque modi assumenda odit!</p>
                    <p><a href="#" class="btn btn-secondary" role="button">View Details</a></p>
                </div>
                <div class="col-md-4">
                    <h2>Heading</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, veniam at eos impedit nostrum sed. Accusantium iure repellendus ratione animi quod, repudiandae enim temporibus quis, autem molestiae magni odit. Magnam distinctio explicabo cum saepe voluptate commodi doloremque modi assumenda odit!</p>
                    <p><a href="#" class="btn btn-secondary" role="button">View Details</a></p>
                </div>
            </div>
        </div>
</main>

<footer class="container">
    <p>&copy;Company 2017-2028</p>
</footer>

{% endblock %}